<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ananops.mdc.mapper.AnMdcFormSchemaMapper">
    
    <resultMap type="AnMdcFormSchema" id="AnMdcFormSchemaResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="propsSchema"    column="props_schema"    />
        <result property="uiSchema"    column="ui_schema"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="mark"    column="mark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="dr"    column="dr"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastOperator"    column="last_operator"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
    </resultMap>

    <sql id="selectAnMdcFormSchemaVo">
        select id, name, props_schema, ui_schema, type, status, mark, dept_id, project_id, dr, version, create_by, creator_id, create_time, last_operator, update_by, update_time, remark, company_id, company_name from an_mdc_form_schema
    </sql>

    <select id="selectAnMdcFormSchemaList" parameterType="AnMdcFormSchema" resultMap="AnMdcFormSchemaResult">
        <include refid="selectAnMdcFormSchemaVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
        </where>
    </select>
    
    <select id="selectAnMdcFormSchemaById" parameterType="Long" resultMap="AnMdcFormSchemaResult">
        <include refid="selectAnMdcFormSchemaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAnMdcFormSchema" parameterType="AnMdcFormSchema">
        insert into an_mdc_form_schema
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="propsSchema != null  and propsSchema != ''">props_schema,</if>
            <if test="uiSchema != null  and uiSchema != ''">ui_schema,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="mark != null  and mark != ''">mark,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="projectId != null ">project_id,</if>
            <if test="dr != null  and dr != ''">dr,</if>
            <if test="version != null ">version,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="creatorId != null ">creator_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastOperator != null  and lastOperator != ''">last_operator,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="companyName != null  and companyName != ''">company_name,</if>
         </trim>
    </insert>

    <update id="updateAnMdcFormSchema" parameterType="AnMdcFormSchema">
        update an_mdc_form_schema
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="propsSchema != null  and propsSchema != ''">props_schema = #{propsSchema},</if>
            <if test="uiSchema != null  and uiSchema != ''">ui_schema = #{uiSchema},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="mark != null  and mark != ''">mark = #{mark},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="projectId != null ">project_id = #{projectId},</if>
            <if test="dr != null  and dr != ''">dr = #{dr},</if>
            <if test="version != null ">version = #{version},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="creatorId != null ">creator_id = #{creatorId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastOperator != null  and lastOperator != ''">last_operator = #{lastOperator},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="companyName != null  and companyName != ''">company_name = #{companyName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnMdcFormSchemaById" parameterType="Long">
        delete from an_mdc_form_schema where id = #{id}
    </delete>

    <delete id="deleteAnMdcFormSchemaByIds" parameterType="String">
        delete from an_mdc_form_schema where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>