<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ananops.amc.mapper.AnAmcAlarmMapper">
    
    <resultMap type="AnAmcAlarm" id="AnAmcAlarmResult">
        <result property="id"    column="id"    />
        <result property="version"    column="version"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="alarmName"    column="alarm_name"    />
        <result property="alarmType"    column="alarm_type"    />
        <result property="alarmLevel"    column="alarm_level"    />
        <result property="alarmAsset"    column="alarm_asset"    />
        <result property="assetType"    column="asset_type"    />
        <result property="alarmStatus"    column="alarm_status"    />
        <result property="alarmLocation"    column="alarm_location"    />
        <result property="alarmLongitude"    column="alarm_longitude"    />
        <result property="alarmLatitude"    column="alarm_latitude"    />
        <result property="alarmPhoto"    column="alarm_photo"    />
        <result property="lastOccurTime"    column="last_occur_time"    />
        <result property="description"    column="description"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastOperatorId"    column="last_operator_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAnAmcAlarmVo">
        select id, version, dept_id, dept_name, alarm_name, alarm_type, alarm_level, alarm_asset, asset_type, alarm_status, alarm_location, alarm_longitude, alarm_latitude, alarm_photo, last_occur_time, description, creator_id, create_by, create_time, last_operator_id, update_by, update_time, remark from an_amc_alarm alarm
    </sql>

    <select id="selectAnAmcAlarmList" parameterType="AnAmcAlarm" resultMap="AnAmcAlarmResult">
        <include refid="selectAnAmcAlarmVo"/>
        where  1=1
        <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
        <if test="alarmName != null  and alarmName != ''"> and alarm_name like concat('%', #{alarmName}, '%')</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
    
    <select id="selectAnAmcAlarmById" parameterType="Long" resultMap="AnAmcAlarmResult">
        <include refid="selectAnAmcAlarmVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAnAmcAlarm" parameterType="AnAmcAlarm" useGeneratedKeys="true" keyProperty="id">
        insert into an_amc_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="version != null ">version,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="deptName != null  and deptName != ''">dept_name,</if>
            <if test="alarmName != null  and alarmName != ''">alarm_name,</if>
            <if test="alarmType != null  and alarmType != ''">alarm_type,</if>
            <if test="alarmLevel != null ">alarm_level,</if>
            <if test="alarmAsset != null  and alarmAsset != ''">alarm_asset,</if>
            <if test="assetType != null  and assetType != ''">asset_type,</if>
            <if test="alarmStatus != null ">alarm_status,</if>
            <if test="alarmLocation != null  and alarmLocation != ''">alarm_location,</if>
            <if test="alarmLongitude != null ">alarm_longitude,</if>
            <if test="alarmLatitude != null ">alarm_latitude,</if>
            <if test="alarmPhoto != null  and alarmPhoto != ''">alarm_photo,</if>
            <if test="lastOccurTime != null ">last_occur_time,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="creatorId != null ">creator_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastOperatorId != null ">last_operator_id,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
    </insert>

    <update id="updateAnAmcAlarm" parameterType="AnAmcAlarm">
        update an_amc_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null ">version = #{version},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''">dept_name = #{deptName},</if>
            <if test="alarmName != null  and alarmName != ''">alarm_name = #{alarmName},</if>
            <if test="alarmType != null  and alarmType != ''">alarm_type = #{alarmType},</if>
            <if test="alarmLevel != null ">alarm_level = #{alarmLevel},</if>
            <if test="alarmAsset != null  and alarmAsset != ''">alarm_asset = #{alarmAsset},</if>
            <if test="assetType != null  and assetType != ''">asset_type = #{assetType},</if>
            <if test="alarmStatus != null ">alarm_status = #{alarmStatus},</if>
            <if test="alarmLocation != null  and alarmLocation != ''">alarm_location = #{alarmLocation},</if>
            <if test="alarmLongitude != null ">alarm_longitude = #{alarmLongitude},</if>
            <if test="alarmLatitude != null ">alarm_latitude = #{alarmLatitude},</if>
            <if test="alarmPhoto != null  and alarmPhoto != ''">alarm_photo = #{alarmPhoto},</if>
            <if test="lastOccurTime != null ">last_occur_time = #{lastOccurTime},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="creatorId != null ">creator_id = #{creatorId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastOperatorId != null ">last_operator_id = #{lastOperatorId},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnAmcAlarmById" parameterType="Long" >
        delete from an_amc_alarm where id = #{id}
    </delete>

    <delete id="deleteAnAmcAlarmByIds" parameterType="String">
        delete from an_amc_alarm where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAllAlarmCount" parameterType="AnAmcAlarm" resultType="int">
        select count(*) from  an_amc_alarm alarm
        where 1=1
        ${params.dataScope}
    </select>

    <select id="getDealingCount" parameterType="AnAmcAlarm" resultType="int">
        select count(1) from  an_amc_alarm alarm
        where 1=1
        and alarm_status = 1
        ${params.dataScope}
    </select>

    <select id="getUrgencyCount" parameterType="AnAmcAlarm" resultType="int">
        select count(*) from  an_amc_alarm alarm
        where 1=1
        and alarm_level = 1
        ${params.dataScope}
    </select>

    <select id="getDealedCount" parameterType="AnAmcAlarm" resultType="int">
        select count(*) from  an_amc_alarm alarm
        where 1=1
        and alarm_status = 0
        ${params.dataScope}
    </select>
</mapper>