<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ananops.mdmc.mapper.AnMdmcTaskLogMapper">

    <resultMap type="AnMdmcTaskLog" id="AnMdmcTaskLogResult">
        <result property="id"    column="id"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastOperator"    column="last_operator"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="taskId"    column="task_id"    />
        <result property="status"    column="status"    />
        <result property="movement"    column="movement"    />
        <result property="statusTimestamp"    column="status_timestamp"    />
        <result property="remark"    column="remark"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
    </resultMap>

    <sql id="selectAnMdmcTaskLogVo">
        select id, version, create_by, creator_id, create_time, last_operator, update_by, update_time, task_id, status, movement, status_timestamp,remark,
         company_id, company_name from an_mdmc_task_log
    </sql>

    <select id="selectAnMdmcTaskLogList" parameterType="AnMdmcTaskLog" resultMap="AnMdmcTaskLogResult">
        <include refid="selectAnMdmcTaskLogVo"/>
        <where>
        </where>
    </select>

    <select id="selectAnMdmcTaskLogListByTaskId" parameterType="Long" resultMap="AnMdmcTaskLogResult">
        <include refid="selectAnMdmcTaskLogVo"/>
        as tasklog
        <where>
        tasklog.task_id= #{taskId}
        order by tasklog.update_time
        </where>
    </select>

    <select id="selectAnMdmcTaskLogById" parameterType="Long" resultMap="AnMdmcTaskLogResult">
        <include refid="selectAnMdmcTaskLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertAnMdmcTaskLog" parameterType="AnMdmcTaskLog">
        insert into an_mdmc_task_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="version != null ">version,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="creatorId != null ">creator_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastOperator != null  and lastOperator != ''">last_operator,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="taskId != null ">task_id,</if>
            <if test="status != null ">status,</if>
            <if test="movement != null  and movement != ''">movement,</if>
            <if test="statusTimestamp != null ">status_timestamp,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
        </trim>
    </insert>

    <update id="updateAnMdmcTaskLog" parameterType="AnMdmcTaskLog">
        update an_mdmc_task_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null ">version = #{version},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="creatorId != null ">creator_id = #{creatorId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastOperator != null  and lastOperator != ''">last_operator = #{lastOperator},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="taskId != null ">task_id = #{taskId},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="movement != null  and movement != ''">movement = #{movement},</if>
            <if test="statusTimestamp != null ">status_timestamp = #{statusTimestamp},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnMdmcTaskLogById" parameterType="Long">
        delete from an_mdmc_task_log where id = #{id}
    </delete>

    <delete id="deleteAnMdmcTaskLogByIds" parameterType="String">
        delete from an_mdmc_task_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>